<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="assets/css/admin.css">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/app.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!--<link rel="stylesheet" href="static/css/bootstrap.css" />-->
<script src="static/js/utils.js"></script>

	</head>
	<body>
		<style>
			  input[type="file"] {
        display: none;
    }
 
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
 
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
 
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
 
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
		</style>
		
<div id="container">

<div class="box-container-bottom" style="margin-bottom: 15px;">
<div style="width: 1000px; height: 500px; margin-left: 20px; margin-top: 10px; margin-right: 10px; width: 730px;">
		<el-form :model="insertUserForm" ref="insertUserForm" label-width="80px"  :rules="rules"  size="mini" :label-position="labelPosition" inline >
<el-form-item label="修改头像" ref="insertUserForm" prop="userImg"  >
        <el-input v-model="insertUserForm.userImg" v-if="false" style="width: 100px;"></el-input>
        <el-upload
                class="avatar-uploader"
                ref="upload"
                :show-file-list="false"
                :action="actionUrl"
                :before-upload="beforeUpload"
               :on-change='changeUpload'
                :auto-upload="false"
                :data="insertUserForm">
              <img v-if="insertUserForm.userImg" :src="insertUserForm.userImg" class="avatar">
              <i v-else style="line-height: 178px;" class="el-icon-plus avatar-uploader-icon"></i>

        </el-upload>
    </el-form-item>	    
	    <el-form-item label="用户名称" prop="username"  style="width: 300px" required >
	      <el-input v-model="insertUserForm.username" autocomplete="off"  ></el-input>
	    </el-form-item>												    
	    <el-form-item label="密码"  prop="password"  style="" required>
	    <el-input placeholder="请输入密码" v-model="insertUserForm.password" show-password style="width: 200px"></el-input>
	   </el-form-item>
		<el-form-item label="性别" prop="userSex" style="width: 200px;" required>
		    <el-radio-group v-model="insertUserForm.userSex">
		      <el-radio label="男" ></el-radio>
		      <el-radio label="女"></el-radio>
		    </el-radio-group>
		  </el-form-item>				
			 <el-form-item label="生日" >
			    <el-col :span="11">
			      <el-form-item prop="userBirth">
			        <el-date-picker type="date" placeholder="选择日期" v-model="insertUserForm.userBirth" style="width: 200%;"></el-date-picker>
			      </el-form-item>
			    </el-col>
			  </el-form-item>													  

	    <el-form-item label="真实姓名"  prop="realname" style="" >
	      <el-input v-model="insertUserForm.realname" autocomplete="off" style="width: 200px"></el-input>
	    </el-form-item>
   
					    <el-form-item label="手机号" prop="userMobile" style="" >
	      <el-input v-model="insertUserForm.userMobile" autocomplete="off" style="width: 200px"></el-input>
	    </el-form-item>
	    <el-form-item label="邮箱地址" prop="userEmail" style="">
	      <el-input v-model="insertUserForm.userEmail" autocomplete="off" style="width: 200px"></el-input>
	    </el-form-item>
    
	    
	 </el-form>										
 <div style="margin-left: 20px;">
<el-button @click="submitForm('insertUserForm')" plain>修改用户</el-button>
 </div>
</div>
</div>
</div>



<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
		<script type="text/javascript" src="static/js/cookie_utils.js" ></script>
		<script type="text/javascript" src="static/js/axios.min.js" ></script>
		<script type="text/javascript" src="static/js/vue.js" ></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script type="text/javascript" src="static/js/base.js" ></script>
		<script type="text/javascript">
			var v = new Vue({
				el:"#container",
				data:{
					userId:"",
					size:'',
					input:'',
					insertUserForm:{
						userId:'',
						username:'',
						password:'',
						nickname:'',
						realname:'',
						userImg:'',
						userMobile:'',
						userEmail:'',
						userSex:'',
						userBirth:'',
						userRegtime:'',
						userModtime:'',
				
					},
					rules:{
						
					},
					ImgUrl:'',
					labelPosition:'left',
					actionUrl:'http://localhost:8080/user/updateUser',
					token:null,
					userDetail:{},			
				},
				created:function(){
					//1.加载页面，请求订单信息
						this.token = getCookieValue("token");
					this.userId = getCookieValue("userId");					
					console.log(this.userId)
										var url1 = baseUrl+"user/detail-info/"+this.userId;
									 axios.get(url1).then((res)=>{
									 	this.userDetail=res.data.data;
									 	this.userDetail=this.userDetail[0];
									 	this.insertUserForm.userId=this.userDetail.userId;
									 this.insertUserForm.username=this.userDetail.username;
									 this.insertUserForm.password=this.userDetail.password;
									 this.insertUserForm.realname=this.userDetail.realname;
									 this.insertUserForm.userMobile=this.userDetail.userMobile;
									 this.insertUserForm.userEmail=this.userDetail.userEmail;
									  this.insertUserForm.userSex=this.userDetail.userSex;
									   this.insertUserForm.userBirth=this.userDetail.userBirth;
									    this.insertUserForm.userRegtime=this.userDetail.userRegtime;
									    this.insertUserForm.userModtime=this.userDetail.userModtime;
									});		

				},				
				methods:{

							    changeUpload(file) {
							      let fileName=file.name;
										this.ImgUrl=file.name;
										console.log(this.ImgUrl);
							      let regex =/(.jpg|.jpeg)$/ //匹配图片类型
							      /*toLowerCase()将字符串转化为小写，返回一个新的字符串，其中的大写全部转为小写*/
							      if (regex.test(fileName.toLowerCase())){
							
							        //URL.createObjectURL() 静态方法会创建一个 DOMString，其中包含一个表示参数中给出的对象的URL
							        //这个 URL 的生命周期和创建它的窗口中的 document 绑定。这个新的URL 对象表示指定的 File 对象或 Blob 对象。
							        this.insertUserForm.userImg=URL.createObjectURL(file.raw)
								
							      }
							    },
 
            beforeUpload(file) {
                return true;
            },


						
            submitForm(formName) {
            	
            	console.log(this.insertUserForm)
                let vm = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                    		this.insertUserForm.userBirth=rTime(this.insertUserForm.userBirth);
                    		console.log(this.insertUserForm.userBirth)
                        vm.$refs.upload.submit();
                         
                    } else {
                        return false;
                    }
                });

				 setTimeout(function (){
					parent.location.reload();
					parent.location.reload();
				}, 500);
 
			
            },
  
            
            

				},
								filters: {
            time: (value) => {
            	return rTime(value);
            }
      },
				

});

		</script>


	</body>
</html>
