<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>添加商品</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="assets/css/admin.css">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/app.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!--<link rel="stylesheet" href="static/css/bootstrap.css" />-->
<script src="static/js/utils.js"></script>

</head>
<body>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->
<style>
    input[type="file"] {
        display: none;
    }
 
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
 
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
 
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
 
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    .tbody{
    width:80%;
    margin-left:10%;
    margin-top: 2%;

}
.del{
        cursor: pointer;
        display: none;
        background: red;
        color: #fff;
        font-size: 10px;
        padding: 2px 5px;
        position: absolute;
        top: 7px;
        right: 0px;
        z-index: 9;
        border-radius: 3px;
      }
      .cell:hover .del{
        display: inline;
      }
</style>






</head>

<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="assets/i/logo.png"></div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

   <li class="am-dropdown tognzhi" data-am-dropdown>
  <button class="am-btn am-btn-primary am-dropdown-toggle am-btn-xs am-radius am-icon-bell-o" data-am-dropdown-toggle> 消息管理<span class="am-badge am-badge-danger am-round">6</span></button>
  <ul class="am-dropdown-content">
  	
  	
  	
    <li class="am-dropdown-header">所有消息都在这里</li>

    

    <li><a href="#">未激活会员 <span class="am-badge am-badge-danger am-round">556</span></a></li>
    <li><a href="#">未激活代理 <span class="am-badge am-badge-danger am-round">69</span></a></a></li>
    <li><a href="#">未处理汇款</a></li>
    <li><a href="#">未发放提现</a></li>
    <li><a href="#">未发货订单</a></li>
    <li><a href="#">低库存产品</a></li>
    <li><a href="#">信息反馈</a></li>
    
    
    
  </ul>
</li>






  </div>
</header>

<div class="am-cf admin-main"> 


 <div class="nav-navicon admin-main admin-sidebar">
    
    
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员</div>
    <div class="sideMenu" style="font-size: 1.4rem;">
    	<h3 class="am-icon-users"><em></em> <a href="#">用户管理</a></h3>
      <ul>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="用户列表.html">用户列表</a></li>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="添加用户.html">添加用户</a></li>
      </ul>
      <h3 class="am-icon-flag on"><em></em> <a href="#">商品管理</a></h3>
      <ul>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="商品列表.html">商品列表</a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="添加新商品.html">添加新商品</a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="商品统计.html">商品统计</a></li>
      </ul>
        <h3 class="am-icon-gears"><em></em> <a href="#">商品分类管理</a></h3>
      <ul>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="商品分类.html">商品分类</a></li>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="添加商品分类.html">添加商品分类</a></li>       
      </ul>    
      <h3 class="am-icon-cart-plus"><em></em> <a href="订单列表.html"> 订单管理</a></h3>
      <ul>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="订单列表.html">订单列表</a></li>
 				 <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="订单统计.html">订单统计</a></li>
      </ul>
      <h3 class="am-icon-volume-up"><em></em> <a href="#">评论管理</a></h3>
      <ul>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="评论列表.html">评论列表</a></li>
 				 <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="评论统计.html">评论统计</a></li>
      </ul>
    
    </div>
    <!-- sideMenu End --> 
    
   <script type="text/javascript">
			jQuery(".sideMenu").slide({
				titCell:"h3", //鼠标触发对象
				targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
				effect:"slideDown", //targetCell下拉效果
				delayTime:300 , //效果时间
				triggerTime:150, //鼠标延迟触发时间（默认150）
				defaultPlay:true,//默认是否执行效果（默认true）
				returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
				});
		</script> 








</div>

</div>



<div class=" admin-content">
	
		<div class="daohang">
			<ul>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 </li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">用户管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">商品管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">订单管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				
				
			</ul>

       

	
</div>
	
	


<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 添加商品</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="添加新商品.html">添加商品</a></dl>
      
      <dl>
        
      </dl>
      
      
    </div>
        <div class="fbneirong">
  <div id="container">

<div class="box-container-bottom" style="margin-bottom: 15px;">
<div id="tbody" >

<el-steps :active="active" finish-status="success">
  <el-step title="商品信息"></el-step>
  <el-step title="商品套餐"></el-step>
  <el-step title="商品图片"></el-step>
</el-steps>
<!-- 个人信息 -->
<div style="width: 1000px; text-align: center ; height: 500px;">
 <el-form ref="insertProductForm" :model="insertProductForm" label-width="80px" style="display: inline-block;"  inline>
<div class="info" v-if="active==0">
<el-form-item label="商品名称" prop="productName" style="width: 400px;">
    <el-input v-model="insertProductForm.productName"></el-input>
  </el-form-item>
  <el-form-item label="商品类别" prop="categoryId" style="width: 400px;">
    <el-input type="text" v-model="insertProductForm.categoryId" autocomplete="off"></el-input>
  </el-form-item>
  <el-form-item label="系带方式" prop="clog" style="width: 400px;">
    <el-input type="text" v-model="insertProductForm.clog" autocomplete="off"></el-input>
  </el-form-item>
  <el-form-item label="商品品牌" prop="clog" style="width: 400px;">
  <el-select v-model="insertProductForm.brand" placeholder="请选择">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
  </el-form-item>
    <el-form-item label="生产厂名" prop="factoryName" style="width: 400px;">
    <el-input type="text" v-model="insertProductForm.factoryName" autocomplete="off"></el-input>
  </el-form-item>
    <el-form-item label="生产厂址" prop="factoryAddress" style="width: 400px;">
    <el-input type="text" v-model="insertProductForm.factoryAddress" autocomplete="off"></el-input>
  </el-form-item>
      <el-form-item label="功能" prop="function" style="width: 400px;">
    <el-input type="text" v-model="insertProductForm.function" autocomplete="off"></el-input>
  </el-form-item>
      <el-form-item label="商品毛重" prop="weight" style="width: 400px;">
    <el-input type="text" v-model="insertProductForm.weight" autocomplete="off"></el-input>
  </el-form-item>  
      <el-form-item label="商品细节" prop="details" style="width: 400px;">
    <el-input type="text" v-model="insertProductForm.details" autocomplete="off"></el-input>
  </el-form-item> 
        <el-form-item label="商品内容" prop="content" style="width: 400px;">
    <el-input type="text" v-model="insertProductForm.content" autocomplete="off"></el-input>
  </el-form-item>  
</div>
<div class="info" v-if="active==1">
 <el-form ref="ruleForm" label-width="100px" class="demo-ruleForm" >
        <el-form-item label="商品规格：" required>
          <el-button  @click="addNature" :disabled="!editType" type="success">增加属性</el-button>
          <el-button @click="addSku" type="success">增加SKU</el-button>
          <el-button @click="logData" type="success">打印tableData数据</el-button>
          
        </el-form-item>
        <el-form-item>
          <el-table :data="tableData" style="width: 100%">
                <!-- 自定义部分 -->
                <el-table-column v-for="(col,i ) in attr_names" :prop="col.prop">
                  <template slot="header" slot-scope="scope">
                    <span class="del" v-on:click="delColumn(scope.$index)" v-if="editType">X</span>
                    <el-input v-model="col.label" size="mini" class="f-cent" :disabled="!editType"/>
                  </template>
                  <template slot-scope="scope">
                    <el-input size="mini" v-model="scope.row[col.prop]" :disabled="!scope.row['editable']"> </el-input>
                  </template>
                </el-table-column>

                <!-- 固定写死的部分 -->
                <el-table-column prop="cost_price" label="初始价格">
                  <template slot-scope="scope">
                    <el-input size="mini" v-model="scope.row['cost_price']" :disabled="!scope.row['editable']"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="price" label="售价">
                  <template slot-scope="scope">
                    <el-input size="mini" v-model="scope.row['price']" :disabled="!scope.row['editable']"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="quantity" label="折扣">
                  <template slot-scope="scope">
                    <el-input size="mini" v-model="scope.row['quantity']" :disabled="!scope.row['editable']"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="no" label="库存">
                  <template slot-scope="scope">
                    <el-input size="mini" v-model="scope.row['no']" :disabled="!scope.row['editable']"></el-input>
                  </template>
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="80">
                  <template slot-scope="scope">
                    <el-button
                      @click.native.prevent="deleteRow(scope.$index, tableData)"
                      type="text"
                      size="small" v-if="scope.row['editable']">
                      移除
                    </el-button>
                  </template>
                </el-table-column>

          </el-table>
        </el-form-item>
      </el-form>
        
</div>
<div class="info" v-if="active==2">
<el-form-item prop="url" label="商品图片">
<el-input v-model="insertProductForm.url" v-if="false"></el-input>
    <el-upload
	:action="actionUrl"
	:multiple = true
	list-type="picture-card"
	:with-credentials='true'
	:on-remove="handleRemove"
	:on-error="handleError"
	:before-upload="beforeAvatarUpload"
	:on-change="changeUpload"
    :auto-upload="false"
 class="avatar-uploader"
ref="upload"
  :data="insertProductForm">
	<i class="el-icon-plus"></i>
    </el-upload>
    <el-dialog :visible.sync="dialogVisible">
	<img width="100%" :src="insertProductForm.url" alt="">
    </el-dialog>
</el-form-item>
</br>
<el-button type="primary" @click="submitForm('insertProductForm')" plain>添加商品</el-button>
</div>

<el-button style="margin-top: 12px;" @click="next" type="primary">下一步</el-button>

</el-form> 


</div>
</div>
</div>


</div>

</div>
</div>


 

    
    
    
    
    
    
    
</div>







</div>

</div>




</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
		<script type="text/javascript" src="static/js/cookie_utils.js" ></script>
		<script type="text/javascript" src="static/js/axios.min.js" ></script>
		<script type="text/javascript" src="static/js/vue.js" ></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script type="text/javascript" src="static/js/base.js" ></script>
		<script type="text/javascript">
			var v = new Vue({
				el:"#container",
     data: function() {
        return {
            		 active:0,
					userId:'',
					size:'',
					input:'',
					insertProductForm:{
						brand:'',
						categoryId:'',
						clog:'',
						content:'',
						createTime:'',
						discounts:'',
						details:'',
						factoryAddress:'',
						factoryName:'',
						function:'',
						id:'',
						isMain:'',
						originalPrice:'',
						paramId:'',
						productId:'',
						productName:'',
						productPlace:'',
						productStatus:'',
						rootCategoryId:'',
						sellPrice:'',
						skuId:'',
						skuImg:'',
						skuName:'',
						soldNum:'',
						sort:'',
						status:'',
						stock:'',
						untitled:'',
						updateTime:'',
						url:'',
						weight:'',
					},
					rules:{
						
					},
					ImgUrl:'',
					labelPosition:'left',
					actionUrl:'http://localhost:8080/product/add', 
					dialogImageUrl: '',
					dialogVisible: false,
					options: [{
					          value: '选项1',
					          label: '耐克'
					        }, {
					          value: '选项2',
					          label: 'JORDAN'
					        }, {
					          value: '选项3',
					          label: 'adidas'
					        }, {
					          value: '选项4',
					          label: '匡威'
					        }, {
					          value: '选项5',
					          label: '彪马'
					        },{
					          value: '选项6',
					          label: '斯凯奇'
					        }],	
              editType:true, //判定商品属性标签是否可编辑
              attr_names: [ 
              
                  // 为了方便理解用 保留
//                   {label: '成本', prop: 'cost_price'},
//                   {label: '售价', prop: 'price'},
//                   {label: '库存', prop: 'quantity'}, 
//                   {label: '货号', prop: 'no'},
              ],
              tableData:[
                {
                  cost_price: '', //成本价
                  price: ' ',//售价
                  quantity: '',//库存
                  no: '',//货号
                  img:'',//图片
                  editable:true //判定SKU是否可编辑
                }
              ],					        	
					            }
					      },

				methods:{
							      next() {
							        if (this.active++ > 2) this.active = 0;
							      },


							    changeUpload(file) {
							      let fileName=file.name;
										this.ImgUrl=file.name;
										console.log(this.ImgUrl);
							      let regex =/(.jpg|.jpeg)$/ //匹配图片类型
							      /*toLowerCase()将字符串转化为小写，返回一个新的字符串，其中的大写全部转为小写*/
							      if (regex.test(fileName.toLowerCase())){
							
							        //URL.createObjectURL() 静态方法会创建一个 DOMString，其中包含一个表示参数中给出的对象的URL
							        //这个 URL 的生命周期和创建它的窗口中的 document 绑定。这个新的URL 对象表示指定的 File 对象或 Blob 对象。
							        this.insertProductForm.url=URL.createObjectURL(file.raw)
								
							      }
							    },
 
            beforeUpload(file) {
                return true;
            },


						
            submitForm(formName) {
            	
            	console.log(this.insertProductForm)
                let vm = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                    	
                        vm.$refs.upload.submit();
                         
                    } else {
                        return false;
                    }
                });
       this.$message({
          message: '添加成功',
          type: 'success'
        });
               this.dialogFormVisible = false;
               
				 setTimeout(function (){
					window.location.href="商品列表.html";
				}, 500);
 
			
            },
		        handleAvatarSuccess(res, file) {
		        this.form.imageUrl = URL.createObjectURL(file.raw);
		      },            
 			handleRemove(file, fileList) {//移除
				console.log(file, fileList);
			},

addNature(){
                  let len=this.attr_names.length;
                  //新增以 attr_ 开关，也可以自行定义
                  this.attr_names.push({label: '属性', prop: `attr_${len}`})
                },
                // 增加商品SKU
                addSku(){
                  let data=this.tableData[0]
                  let keys=[]
                  for (var key in data){
                      keys.push(key);
                  }
                  let obj={}
                  for(let i=0; i<keys.length; i++){
                    if(keys[i]==='editable'){
                      obj[keys[i]]=true
                    }else{
                      obj[keys[i]]=''
                    }
                  }
                  this.tableData.push(obj);
                },
                //删除一排   tableData ARR
                deleteRow(index, rows) {
                  rows.splice(index, 1);
                },
                //删除SKU列 每次删除最后一列数据
                delColumn(index){
                  let len=this.attr_names.length - 1 ;
                  let str=this.attr_names[len].prop;
                  this.tableData.map((item)=>{
                    delete item[str];
                  })
                  this.attr_names.pop()
                },
                // 调试代码信息用
                logData(){
                  console.log('this.attr_names',this.attr_names);
                  console.log('this.tableData',this.tableData);
                },
  
            
            

				},
								filters: {
            time: (value) => {
            	return rTime(value);
            }
      },
				

});

		</script>



</body>
</html>