<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>评论列表</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="assets/css/admin.css">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/app.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!--<link rel="stylesheet" href="static/css/bootstrap.css" />-->
<script src="static/js/utils.js"></script>
		<!-- 引入 layui.css -->
		<link rel="stylesheet" href="static/css/layui.css">
		<!-- 引入 layui.js -->
		<script src="static/js/layui.js"></script>
<!--<link href="static/css/personal.css" rel="stylesheet" type="text/css">-->
<link href="static/css/systyle.css" rel="stylesheet" type="text/css">

<!-- 引入样式 -->

</head>
<body>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->


</head>

<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="assets/i/logo.png"></div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

    </ul>
  </div>
</header>

<div class="am-cf admin-main"> 


 <div class="nav-navicon admin-main admin-sidebar">
    
    
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员</div>
    <div class="sideMenu" style="font-size: 1.4rem;">
    	<h3 class="am-icon-users"><em></em> <a href="#">用户管理</a></h3>
      <ul>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="用户列表.html">用户列表</a></li>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="添加用户.html">添加用户</a></li>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="用户统计.html">用户统计</a></li>
      </ul>
      <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
      <ul>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="商品列表.html">商品列表</a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="添加新商品.html">添加新商品</a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="商品统计.html">商品统计</a></li>
      </ul>
        <h3 class="am-icon-gears"><em></em> <a href="#">商品分类管理</a></h3>
      <ul>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="商品分类.html">商品分类</a></li>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="添加商品分类.html">添加商品分类</a></li>       
      </ul>    
      <h3 class="am-icon-cart-plus "><em></em> <a href="订单列表.html"> 订单管理</a></h3>
      <ul>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="订单列表.html">订单列表</a></li>
 				 <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="订单统计.html">订单统计</a></li>
      </ul>
      <h3 class="am-icon-volume-up on"><em></em> <a href="#">评论管理</a></h3>
      <ul>
         <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="评论列表.html">评论列表</a></li>
 				 <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="评论统计.html">评论统计</a></li>
      </ul>
    
    </div>
    <!-- sideMenu End --> 
    
   <script type="text/javascript">
			jQuery(".sideMenu").slide({
				titCell:"h3", //鼠标触发对象
				targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
				effect:"slideDown", //targetCell下拉效果
				delayTime:300 , //效果时间
				triggerTime:150, //鼠标延迟触发时间（默认150）
				defaultPlay:true,//默认是否执行效果（默认true）
				returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
				});
		</script> 








</div>

</div>




</div>


    
    
    
    
    

  
    
    
    
    
    
    
</div>

<div class=" admin-content">
	
		<div class="daohang">
			<ul>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 </li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">用户管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">商品管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">订单管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				
				
			</ul>

       

	
</div>
	
	


<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 评价列表</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="评价列表.html">评价列表</a></dl>
      
      <dl>
        
      </dl>
      
      
    </div>
	 <div id="container">
   <div style="background-color: white; margin-left: 12px; margin-right: 12px;">
			  <el-input v-model="keywords"
			    placeholder="请输入内容"
			    prefix-icon="el-icon-search" @keyup.enter.native="search"  style="width: 300px;  margin-top: -2px; ">
			  </el-input>
</div> 			
	<el-table  :data="comments"  border fit highlight-current-row>
	      <el-table-column
	        label="序号"
	        width="100"
	        align="center">
	        <template slot-scope="scope">
	          {{ (pageNum - 1) * limit + scope.$index + 1 }}
	        </template>
	      </el-table-column>
	      <el-table-column label="商品名称" width="200px">
	        <template slot-scope="scope">
	          {{scope.row.productName}}
	 
	        </template>
	      </el-table-column>
					<el-table-column label="评价类型" width="150px">
	        <template slot-scope="scope">
   <span v-if="scope.row.commType == '1'">好评</span>
	<span v-else-if="scope.row.commType == '0'">中评</span>
	<span v-else-if="scope.row.commType == '-1'">差评</span>
	        </template>
	      </el-table-column>
	
	      <el-table-column label="评价内容" width="300px">
	        <template slot-scope="scope">
	          {{scope.row.commContent}}
	        </template>
	      </el-table-column>
	      <el-table-column label="评价时间" width="200px">
	        <template slot-scope="scope">
	          {{scope.row.sepcName | time}}
	        </template>
	      </el-table-column>
	      	      <el-table-column label="是否回复" width="150px">
	        <template slot-scope="scope">
					          <span v-if="scope.row.replyStatus == '1'">已回复</span>
									<span v-else-if="scope.row.replyStatus == '0'">未回复</span>
	        </template>
	      </el-table-column>
	      <el-table-column  label="操作" sortable width="200px">

	      	<template slot-scope="scope">				  
	      							      <template v-if="scope.row.replyStatus == '0'">
							 	<el-button type="primary" plain  size="small" style="margin-left: 10px;" @click="tanchuang(scope.row)" plain>回复</el-button>
							 	 <el-dialog title="回复评论" :visible.sync="dialogFormVisible" :append-to-body='true'>
												  <el-form :model="updateUserCommentsForm" ref="updateUserCommentsForm" label-width="80px" inline :rules="rules"  size="mini" :label-position="labelPosition" prop="replyContent" >
												      <el-input v-model="updateUserCommentsForm.replyContent" autocomplete="off"></el-input>
												</el-form>
												    <el-button type="primary" @click="huifu(scope.row)" plain>确 定</el-button>
													    <el-button @click="dialogFormVisible = false">取 消</el-button>											    
												  </div>
												</el-dialog>
									</template>
					
					<el-button type="danger" size="small" @click="shanchu(scope.row) " style="margin-left: 10px;" plain>删除</el-button>
					</template>
					</el-table-column>

	   </el-table>
<div style="text-align: center">
							<el-pagination background layout="prev, pager, next" 
               :current-page="pageNum"
               :page-size="limit" 
               :total="count" @current-change="pager" > </el-pagination>
</div>
</div>




</div>

</div>




</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->

		<script type="text/javascript" src="static/js/cookie_utils.js" ></script>
		<script type="text/javascript" src="static/js/axios.min.js" ></script>
		<script type="text/javascript" src="static/js/vue.js" ></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script type="text/javascript" src="static/js/base.js" ></script>
		<script type="text/javascript">
			var v = new Vue({
				el:"#container",
				data:{
					pageNum:1,
					limit:6,
					count:0,					
					comments:[],
					updateUserCommentsForm:{
						commId:'',
						productId:'',
						productName:'',
						orderItemId:'',
						userId:'',
						isAnonymous:'',
						commType:'',
						commContent:'',
						commImgs:'',
						specTime:'',
						replyStatus:'',
						replyContent:'',
						replyTime:'',
						isShow:'',
					},
					rules:{
						
					},
					userCommentsDetail:{},
					labelPosition:'left',
					dialogFormVisible:false,		
					outerVisible: false,
					size:'',	
					commId:'',	
					keywords:"",
					commId:'',
				},
				created:function(){

					var url1 = baseUrl+"product/comments-list";
					axios({
						url:url1,
						method:"get",
						params:{
							pageNum:this.pageNum,
							limit:this.limit,
						}
					}).then((res)=>{
						console.log(res.data.data);
						if(res.data.code == 10000){
							var map = res.data.data
							this.comments = map.list;
							this.count = map.count; 
						}
					});
				},
				methods:{
					pager:function(page){
						this.pageNum = page;
						//1.加载页面，请求订单信息
						var url2 = baseUrl+"product/comments-list";
						var obj = {
								pageNum:this.pageNum,
								limit:this.limit
						};
						if(this.keywords!=null){
							obj.keywords = this.keywords;
						}
						console.log(obj)
						axios({
							url:url2,
							method:"get",
							params:{
								pageNum:obj.pageNum,
								limit:obj.limit,
								keyword:obj.keywords
							}
						}).then((res)=>{
							console.log(res.data.data);
							if(res.data.code == 10000){
								this.comments = res.data.data.list;
								this.count = res.data.data.count;
							}
						});
					},
					tanchuang(val){
						this.updateUserCommentsForm.commId=val.commId;
						this.dialogFormVisible=true;
					},

					shanchu(val){
				console.log(val.commId)
		this.$confirm('是否确认删除评价?', '提示', {
		         cancelButtonText: '取消',							         
		         confirmButtonText: '确定',
		          type: 'warning'
		        }).then(() => {
		        	this.commId=val.commId;
					var url3 = baseUrl+"user/deleteUserComments/"+this.commId;
				 axios.get(url3).then((res)=>{
				});	
		          this.$message({
		            type: 'success',
		            message: '删除成功!'
		          });
				 setTimeout(function (){
					Window.location.href="评论列表.html";
				}, 500);							          
		        }).catch(() => {
		          this.$message({
		            type: 'info',
		            message: '已取消删除'
		          });          
		        });
	  },    	
	           huifu(val) {

	           	console.log(this.updateUserCommentsForm)
				var url5 = baseUrl+"product/replyComments"
				axios({
							url:url5,
							method:"post",
							data:this.updateUserCommentsForm,			
						})
				this.dialogFormVisible=true;
       this.$message({
          message: '添加成功',
          type: 'success'
        });
               this.dialogFormVisible = false;

				 setTimeout(function (){
					window.location.href="评论列表.html";
				}, 500);
   
			
            },	
	  


				},
				
				filters: {
            time: (value) => {
            	return rTime(value);
            }
        }
			});
			
		</script>


</body>
</html>